<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
     <i class="fas fa-key fa-6x"></i> 
    <!-- <i class="fa-solid fa-list-check" style="color: #77a685;"></i> -->
    
    <h1 class="display-3">To-Do List</h1>
    <p class="lead">Don't just dream it, do it: Start with a to-do list.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
